.sidebar{
    background-color: blue;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    bottom: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
}

.sidebar div{
    background-color: blueviolet;
    flex: 1;
    cursor: pointer;
}

.sidebar div:hover{
    background-color: black;
}